
    <div id="search">  
    <form method="get" action="/artist-search">
     <div class="searchBox">
        <input type="text" name="artist"/>
    
    </div>
    <div class="searchButton">
    <button type="submit">Search for an Artist</button>
    </div>
    </form>
    </div>
   
